* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: white;
}

p {
    margin-bottom: 2em;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
    padding: 1em;
    text-align: center;
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: plum;
}

#navbar .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar-logo-wrapper {
    color: white;
}

.navbar-menu {
    list-style: none;
    display: flex;
}

.navbar-menu-item {
    margin: 0 5px;
    padding: 10px 20px;
}

.navbar-menu-item.primary {
    padding: 16px 32px;
    background-color: powderblue;
    border-radius: 2em;
    box-shadow: 0 0 5px powderblue;
}

#home {
    max-height: 1080px;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
}

.header-display-wrapper h2 {
    font-size: 2em;
    font-weight: normal;
}

.header-display-wrapper h1 {
    font-size: 8em;
    font-weight: bolder;
}

.header-button-wrapper {
    margin-top: 3em;
}

.header-button-wrapper a {
    padding: 24px 48px;
    background: plum;
    border-radius: 2em;
    box-shadow: 0 0 16px plum;
    font-size: 1.5em;
}

.section-title {
    margin-top: 2em;
    padding-bottom: 1em;
    font-weight: 900;
    font-size: 2em;
}

#about {
    background: #E8E8E4;
}

.member-list-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.member-wrapper {
    flex: 1;
    margin: 20px;
}

.member-image {
    border-radius: 50%;
}

.member-name {
    font-size: 1.5em;
    margin-top: 1em;
    font-weight: 900;
}

.member-profile {
    margin-top: .5em;
    line-height: 1.5em;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.input-label {
    margin-left: 2em;
    margin-bottom: 1em;
}

.input-field {
    margin: 0 2em 20px 2em;
    padding: 1em;
    background-color: #fafafa;
    border: solid 1px #aaa;
    border-radius: 1em;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

.btn {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    letter-spacing: .125em;
}

.btn-submit {
    margin: 0 2em 2em 2em;
    padding: 1em 2em;
    cursor: pointer;
    color: white;
    background-color: plum;
    border: none;
    border-radius: 5px;
    box-shadow: 0 6px rgb(189, 134, 189);
}

.btn-submit:active {
    transform: translateY(6px);
    box-shadow: none;
}

#footer {
    padding: 2em;
    background: #1f1f1f;
    color: white;
}

#footer h2 {
    margin-bottom: 10px;
}

#footer p {
    color: gray;
}